
.portfolio-section {
  background: #051622 url(../images/bg_star.png) repeat-y;
  animation: move-bg  60s linear;
  animation-fill-mode: forwards;
}
.portfolio-section-photos {
  background: #051622 url(../images/bg_star.png) repeat-y;
  animation: move-bg  60s linear;
  animation-fill-mode: forwards;
  padding: 20px;
  }

  @keyframes move-bg {
    0% { background-position: center 0; }
    to { background-position: center -500px; }
  }
  
  @-webkit-keyframes move-bg {
    0% { background-position: center 0; }
    to { background-position: center -500px; }
  }
  
  @-moz-keyframes move-bg {
    0% { background-position: center 0; }
    to { background-position: center -500px; }
  }
  
  @-o-keyframes move-bg {
    0% { background-position: center 0; }
    to { background-position: center -500px; }
  }
  
  @-ms-keyframes move-bg {
    0% { background-position: center 0; }
    to { background-position: center -500px; }
  }
  
  .portfolio-section-photos h2 {
    color: #deb992;
    margin-bottom: 30px;
    margin-top: 30px;

  }
  
  .grid-paysages1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
    padding-bottom: 30px;
  }
  
  .grid-paysages2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
    padding-bottom: 50px;
  }
  
  .grid-paysages1 img,
  .grid-paysages2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .lien-conteneur-photo {
    position: relative;
  }
  
  .photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
  }
  
  .lien-conteneur-photo:hover .photo-hover {
    display: flex;
  }
  
  @media screen and (max-width: 996px) {
    .grid-paysages1,
    .grid-paysages2 {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }